<h1>Helllo!</h1>

<ul id="posts">
	<% @posts.each do |post|%>
	<li>
		<h2><%= post.title%></h2><br>
		<p><%= post.body%></p>
		<% if user_signed_in? %>
         <p><%= post.user.email%></p>
		<% end %>
	</li>
	<% end %>
</ul>
<%= link_to "Sign out", destroy_user_session_path(@user), method: :delete %>